* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*p {
    outline: 2px red solid;
}*/


/*header*/

.header {
    width: 100%;
    border-bottom: 5px #CB4717 solid;
    height: 100px;
    /*margin-top: 2%;*/
    background-color: #f39c12;
    overflow: hidden;
}

.logodos,
.contenedor {}

.contenedor {
    /*outline: 2px yellow solid;*/
    width: 50%;
    /*margin: 0 auto;*/
    margin-top: 3%;
    float: left;
    margin-left: 10%;
}

.nav {
    width: 100%;
    /*outline: 2px green solid;*/
    top: 0;
    left: 0%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    display: inline-block;
}

.menu_link {
    position: relative;
    list-style: none;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /*background-color: #fba919;*/
    font-family: 'Open Sans', sans-serif;
    /*vertical-align: top;*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.menu_link:hover {
    background-color: #CB4717;
    color: #6A1513;
}

.select {
    background-color: #6A1513;
    color: #fff;
    /*vertical-align: top;*/
}

.grizzla {
    width: 180px;
    height: 100px;
    /*outline: 2px red solid;*/
}

.logodos {
    float: right;
    margin-right: 15%;
}


/*-------------------nosotros-----------*/

.bannernos {
    position: relative;
    width: 100%;
    height: 410px;
    background: url('../img/agencia2.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.titulonos {
    /*outline: 2px red solid;*/
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #6A1513;
}

.titulonos p {
    outline: 1px white solid;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #CB4717;
    font-weight: bold;
}

.contentex {
    /*outline: 2px red solid;*/
    margin-top: 5%;
    width: 100%;
}

.contentexp {
    /*outline: 2px red solid;*/
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #6A1513;
    margin-bottom: 2%;
}

.contenpuntos {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('../img/fondo.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.conteniconos {
    /*outline: 2px red solid;*/
    width: 40%;
    float: right;
    margin-right: 8%;
    margin-top: 2%;
}

.iconotexto {
    /*outline: 2px yellow solid;*/
    overflow: hidden;
    margin-bottom: 4%;
}

.icono {
    /*outline: 2px green solid;*/
    float: left;
    /*padding: 1%;*/
    margin-top: 8%;
}

.icono2 {
    /*outline: 2px green solid;*/
    float: left;
    /*padding: 1%;*/
    margin-top: 13.5%;
}

.icon-star,
.icon-arrows-alt,
.icon-bullhorn {
    font-size: 50px;
    color: #CB4717;
}

.texton {
    /*outline: 2px red solid;*/
    float: right;
    width: 88%;
    overflow: hidden;
}

.calidad {
    /*outline: 2px red solid;*/
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #6A1513;
    margin-bottom: 2%;
}

.texto_calidad {
    /*outline: 2px red solid;*/
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #B73C16;
    /*margin-bottom: 2%;*/
}

.contenmvv {
    /*outline: 2px red solid;*/
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5%;
    overflow: hidden;
    /*text-align: center;*/
}

.mision {
    /*outline: 2px red solid;*/
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin-left: 7%;
    background-color: #9c640c;
    padding: 20px;
    /*border-radius: 10px;*/
    border-radius: 15px 50px;
    /*text-align: justify;*/
}

.texto_mvv {
    /*outline: 2px red solid;*/
    /*text-align: justify;*/
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #f7f9f9;
    /*margin-bottom: 2%;*/
}


/*-----------------pie-------------*/

footer {
    height: 230px;
    width: 100%;
    background-color: #F39C12;
    margin-top: 2.5%;
    border-top: 5px #CB4717 solid;
    overflow: hidden;
}

.cuadropie,
.cuadropiemapa,
.cuadropiecopy {
    vertical-align: top;
    display: inline-block;
    margin-left: 2%;
}

.cuadropie {
    /*outline: 2px red solid;*/
    width: 26%;
    margin-left: 2%;
    margin-top: 1%;
}

.direccion {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #6A1513;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    /*outline: 1px white solid;*/
}

.text_direccion {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    /*text-align: center;*/
    padding-top: 2%;
    width: 100%;
    /*outline: 1px white solid;*/
    padding: 10px;
}

.text_direccion b {
    color: #6A1513;
}

.cuadropiemapa {
    /*outline: 2px red solid;*/
    width: 35%;
    margin-left: 2%;
    margin-top: .5%;
    height: 200px;
}

.cuadropiemapa iframe {
    /*outline: 2px red solid;*/
    width: 100%;
    height: 200px;
}

.cuadropiecopy {
    /*outline: 2px red solid;*/
    width: 30%;
    margin-left: 2%;
    margin-top: 5.5%;
}

.copy {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #6A1513;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    /*outline: 1px white solid;*/
}


/*------------------ir-arriba-------------*/

.ir-arriba {
    display: none;
    padding: 20px;
    background: #6A1513;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/*---------servicio-----------*/

.bannerser {
    position: relative;
    width: 100%;
    height: 450px;
    background: url('../img/bannerser.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}

.contenser {
    /*outline: 2px red solid;*/
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.ser {
    /*outline: 2px green solid;*/
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
    overflow: hidden;
}

.publicidad {
    outline: 1px #F39C12 solid;
    width: 40%;
    float: left;
    margin-bottom: 2%/*border-right: 1px red solid;*/
    /*border-bottom: 1px red solid;*/
}

.publicidad2 {
    outline: 1px #F39C12 solid;
    width: 40%;
    float: right;
    margin-right: 2%;
    margin-bottom: 2%/*border-right: 1px red solid;*/
    /*border-bottom: 1px red solid;*/
}

.tit_publi {
    background-color: #F39C12;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contenimgpuntos {
    /*outline: 2px red solid;*/
    width: 100%;
    /*margin-top: 2%;*/
}

.img,
.puntospu {}

.img {
    float: left;
}

.puntospu {
    float: right;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 5%;
}

.ser2 {
    outline: 2px green solid;
    margin: 0 auto;
    width: 90%;
    /*margin-top: 2%;*/
}


/*-------------contacto------*/

.bannercont {
    position: relative;
    width: 100%;
    height: 410px;
    background: url('../img/contacto.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}

.titulocont {
    /*outline: 2px red solid;*/
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #6A1513;
}

.titulocont p {
    outline: 1px white solid;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #CB4717;
    font-weight: bold;
}


/*--------------------------form------*/

.form-register {
    /*outline: 2px red solid;*/
    width: 95%;
    max-width: 500px;
    margin: auto;
    background-color: #f2f3f4;
    border-radius: 7px;
    margin-top: 2%;
}

.form_titulo {
    /*background-color: deepskyblue;*/
    background-color: #F39C12;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px crimson solid;
}

.contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48 {
    width: 48%;
}

.input-100 {
    width: 100%;
}

.btn-enviar {
    background-color: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
}

.btn-enviar:active {
    transform: scale(1.05);
}

.areac:focus {
    height: 100px;
}
