/*DISEÑO RESPONSIVO PARA DISPOSITIVOS MOVILES*/

@media screen and (max-width: 480px){ 
			/*COnfiguracion del menu responsivo*/
			
			.subMenu
			{
				width: 100%;
			}

			.subMenu .logo
			{
				float: left;
				width: 45%;
			}

			.subMenu .inner
			{
				margin: 0;
				width: 100%;
			}


			.subMenu .contenMenu
			{
				width: 85%;
				overflow: hidden;
				padding: 0;
				position: fixed;
				background: #D4D4D4;
				height: auto;
				left:-100%;
			}



			.subMenu .subNavBtn
			{
				width: 100%;
				line-height: 50px;
				font-size: 20px;
				text-align: left;
				padding: 0px 0px 0px 60px;
				color: #000;
				border-bottom:1px solid rgba(255,255,255, .9);
			}

			.subMenu  .menubar
			{
				border: 2px solid white;
				display: block;
				float: right;
				color: #000;
				padding: 5px 10px;
				vertical-align: top;
				margin-top: 3%;
				margin-right: 5%;
				background: #000;
				cursor: pointer;
			}

			.fa-bars
			{
				  color: #fff;

			}

			

			.sTop
			{
				width: 100%;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 0;
				margin-top: 68px;
			}


				
			/*********************************************/

			/*inicio-----*/

			.title
				{
				  color:#a01f42;
				  font-family: 'Merriweather', serif;
				  font-size: 40px;
				  width: 100%;
				}

				.subtitle
				{
				  font-size: 15px;
				  color: #000;
				  text-align: left;
				  margin-bottom: 50px;
				  width: 70%;
				}

				/*------------------------------------*/

				.secciones
			    { 
				    top: 100%;
				    width: 100%;
			    }

			/*quienes somos*/ 

			.icono{
				  color: #0EAB8C;
				  margin-right: 1%;
				}

			.quien{
				  color: #505050;
				  font-size: 20px;
				  letter-spacing: -1px;
				  line-height: 100%;
				  font-family: 'Oswald', sans-serif;
				  width: 52%;
				  vertical-align: top;
				  margin-top: 1%;
				}

				.somos{
					font-size: 20px;
					margin-top: 8%;
				}
				.section {
			       width: 100%;
			}

			.inner {
				  width: 960px;
				  vertical-align: top;
				  margin-left: 7%;
				  position: relative;
				  padding:30px 0;
				  font-size: 18px;
				  font-family: 'Open Sans', sans-serif;
				}

				.inner:after {
				    content: "";
				    display: table;
				    clear: both;
				}

				.inners1{
				 width: 80%;
						}
				.nombreb{
				text-align: center;
				font-family: 'Oswald', sans-serif;
				font-size: 20px;
				letter-spacing: -1px;
				line-height: 100%;
				color: #000;
			}

			

			.conteimagen{
				margin-top: 2%;
				height: 100%;
				}

				.texto, .circulo{
				  display: block;
				}
				
				.small-t{
					top: 265px;
					margin: auto;
				}
				.small-image{
					top: 5px;
				}

				.texto{
				  margin-top: 2%;
				  margin-left: 0%;
				  width: 90%;
				  height: auto;
				  text-align: justify;
				  font-family: 'Roboto Condensed', sans-serif;
				  font-size: 12px;
				  line-height: 22px;
				  color: #505050;
				  margin: 0 auto;
				 
				}
				.circulo{
				  margin-left: 0%;
				  margin: 0 auto;
				  display: none;
				}

				#cabeza {
				  border-radius: 0%;
				  border: 0px #505050 solid;
				  display: none;

				 }


				 .circulo2{
				  vertical-align: top;
				  margin-left: 0%;
				  margin: 0 auto;
				  display: none;
				}

				.texto2, .texto3, .circulo2{
				  display: block;
				}

				.texto2{
				  margin-top: 4%;
				  margin-left: 0%;
				  width: 90%;
				  height: auto;
				  text-align: justify;
				  font-family: 'Roboto Condensed', sans-serif;
				  font-size: 12px;
				  line-height: 22px;
				  color: #505050;
				  margin: 0 auto;
				}

				.texto3{
				  margin-top: 1%;
				  margin-left: 0%;
				  height: auto;
				  width: 90%;
				  text-align: justify;
				  font-family: 'Roboto Condensed', sans-serif;
				  font-size: 12px;
				  line-height: 22px;
				  color: #505050;
				  margin: 0 auto;
				}

				.val
				{
				  text-align: center;
				}

				.mision{
				  display: block;

				  
				  margin-left: 0%;
				  
				  width: 90%;
				  height: 350px;
				  padding: 1% 3%;
				  /*vertical-align:  top;*/
				  border-radius: 15px;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  font-family: 'Roboto Condensed', sans-serif;
				  font-size: 12px;
				  line-height: 22px;
				  color: #505050;
				  text-align: justify;
				  margin: 0 auto;
				  margin-top: 3%;
				  margin-bottom: 2%;
				}

				.misions{
					height: auto;
				}

				.mvov{
				  text-align: center;
				  margin-left: 40%;
				  margin-bottom: 3%;
				  font-size: 19px;
				  font-family: 'Montserrat', sans-serif;
				}

				/*------servicios-----*/
				.s2 {
				  background: #F06B51;
				  color:#000;
				  height: auto;
				  width: 100%;
				}

				.servicio
				{
				  width: 100%;
				  padding: 0px;
				  position: relative;
				  text-align: center;
				}
					
				.mision2{

				  display: block;
				  width: 90%;
				  height: auto;
				  margin: 0 auto;
				  margin-top: 20px;
				  background: rgba(0,0,0,0.2);
				  padding: 20px 25px;
				  border-top-left-radius:40px;
				  border-bottom-right-radius:40px;
				  color: #F6ECEC;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}
				.iconos{
				  text-align: center;
				}

				.textotit{
				  text-align: center;
				  color: black;
				  margin: 20px 0;
				  color: #321616;
				  font-size: 19px;
				  font-family: 'Montserrat', sans-serif;
				}

				.lista{
				  font-size: 15px;
				  font-family: helvetica;
				  text-align: justify;
				  line-height: 25px;
				  margin-top:15px;
				}

				/*----portafolio----*/

				.s3 {
				  background:#fff;
				  margin-bottom: 20px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.imgportafolio
				{
				  width: 100%;
				  text-align: center;
				}

				figure
				{
				  width: 90%;
				  display: block;
				  height: auto;
				  margin: 0 auto;
				  margin-top: 20px;
				  background: rgba(7, 132, 178, 0.9);
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  position: relative;
				  overflow:  hidden;
				}

				/*------contacto-----*/

				.s4 {
				  height: 955px;
				  background-image: url("../img/fondocon2.jpg");
				  background-attachment: fixed;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.contenedorcontacto{
				  margin-top: 3%;
				  color: white;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.quien2{
				  color: white;
				  font-size: 20px;
				  letter-spacing: 1px;
				  line-height: 100%;
				  font-family: 'Oswald', sans-serif;
				  width: 50%;
				  vertical-align: top;
				  margin-top: 3%;
				}

				#contactoinfo{
				  width: 96%;
				  font-size: 16px;
				  margin-left: 1%;
				  text-align: justify;
				  margin-right: 0%;
				  font-family: 'Oswald', sans-serif;
				  color: white;
				}

				.contacto, .direccion{
				  display: block;
				}
				#contacto {
				  width: 100%;
				  color: white;
				}


				.direccion{
				  vertical-align: top;
				  width: 27%;
				  padding: 10px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;

				}

				.contacto{
				  width: 100%;
				  height: auto;
				}

				.ema{
				  font-size: 15px;
				  font-family: helvetica;
				  font-weight: bold;
				  margin-left: 5%;
				}


				.emai {

				  height: 30px;
				  border-radius: 5px;
				  margin-top: 1%;
				  border: 1px solid #ccc;
				  width: 80%;
				  margin-left: 10%;
				  -webkit-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  -moz-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.075);
				  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				}


				.der, .izq{
					display: block;
				}

				.der {
				  width: 100%;
				  margin-right: 0%;
				  padding: 3% 0px 3% 3%;
				}

				.izq {
				  width: 100%;
				  padding: 3% 3% 3% 0px;
				  margin-left: 0%;
				}

				#cote
				{
				  overflow: hidden;
				}

				.enviar{
				  font-size:12px;
				    font-weight:bold;
				    color:white;
				    background:#48a4ac;
				    padding: 10px 0px 10px 0px;
				    border-radius: 5px;
				    width: 30%;
				    margin-bottom: 3%;
				    border:0px;
				    float: right;
				    margin-right: 20%;

				}
				.enviar:hover {
				  background: #4b4a4d;
				}

				#enviar2{
				  margin-top: 3%;
				}

				.direccion{
				  margin-top: 12%;
				  width: 100%;
				  padding: 10px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}


				.direec{
				  margin-bottom: 2%;
				  font-family: 'Slabo 27px', serif;
				  font-size: 25px;
				  color:#0180ab;
				  text-align: center;
				}


				.direc{
				  margin-top: 1%;
				  font-family: 'Open Sans', sans-serif;
				  text-align: center;
				}


				.tel{
				    margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				  text-align: center;
				}

				.email{
				  margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				  text-align: center;
				}


				/*-----footer-----*/
				footer
					{
					  padding: 0px 0px;
					  background: rgba(0,0,0, 0.1);
					  color: #505050;
					}
					.justify
					{
					   display: block;
					  margin-top: 2%;
					}

					.conten-pie
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					.conten-pie2
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					

					.secciones
					{
				 		overflow-x: hidden;
					}



			/*********************AREA DE IMAGENES****************************************/

			.lb-album > li 
			{
				width: 90%;
				margin: 15px auto;
			}

			/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

			/***********************Diseño Responsivo Full SCREEN**********************/
			
			.lb-overlay  article{
				padding: 0px;
				margin: 0px;
				width: 93%;
				position: absolute;
				left: 2%;
			}
			
			.lb-overlay article > p{

				font-size: 17px;

			}

			.lb-overlay article .titulos > h3
			{
				
				font-size: 20px;
		
			}
			

			.lb-overlay > figure 
			{
				display: none;
			
			}
			
			.lb-overlay > div
			{
				position: absolute;
				top: 0;
				left: 0;
				width: 60%;
			}
			
			 .lb-overlay a.lb-close
			{
				right: 0;
				top: 15px;
			}
			

			.lb-prev, .lb-next{
    		color:#fff;
    		font-size: 20px;
			}
			
			.lb-prev{
				padding: 0;
				margin-left: 30px;
				} 

			.lb-next{
				padding: 0;
			}

			/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

}

@media screen and (max-width: 599px) and (min-width: 481px) {

	/*********************************************/

			/*inicio-----*/

			.title
				{
				  color:#a01f42;
				  font-family: 'Merriweather', serif;
				  font-size: 50px;
				  width: 100%;
				}

				.subtitle
				{
				  font-size: 20px;
				  color: #000;
				  text-align: left;
				  margin-bottom: 80px;
				  width: 100%;
				}

				.conten-inicio{
				  margin: 100px 0 0 65px;
				  height: auto;
				}


				
				/*------------------------------------*/


	.secciones
			{ 
			    top: 100%;
			    width: 100%;
			     overflow-x: hidden;
			}


	.s1 {
		  background:#FFF;
		  color:#000;
		  width: 100%;
		}

	.conteimagen{
		  margin-top: 2%;
		  width: 100%;
		}

		.texto{
		  margin-top: 2%;
		  margin-left: 4%;
		  height: auto;
		  width: 45%;
		  text-align: right;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.circulo{
		  vertical-align: top;
		  margin-left: 2%;
		  margin-top: 5%;
		}
		.circulo2{
		  vertical-align: top;
		  margin-left: 5%;
		  margin-top: 2%;
		}
		.texto2{
		  margin-top: 4%;
		  margin-left: 2%;
		  width: 47%;
		  height: auto;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.texto3{
		  margin-top: 1%;
		  height: auto;
		  margin-left: 2%;
		  width: 47%;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.val
		{
		  text-align: center;
		}


		.mision{
		  display: inline-block;
		  margin-top: 3%;
		  margin-left: 2%;
		  margin-bottom: 2%;
		  width: 40%;
		  height: auto;
		  padding: 1% 3%;
		  vertical-align:  top;
		  border-radius: 15px;
		  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 13px;
		  line-height: 22px;
		  color: #505050;
		  text-align: justify;
		}

		.mvov{
		  text-align: center;
		  margin-left: 35%;
		  margin-bottom: 4%;
		  font-size: 20px;
		  font-family: 'Montserrat', sans-serif;
		}


		/*----servicos----*/
		.s2 {
				  background: #F06B51;
				  color:#000;
				  height: auto;
				  width: 100%;
				}

				.servicio
				{
				  width: 100%;
				  padding: 0px;
				  position: relative;
				  text-align: center;
				}
					
				.mision2{

				  display: inline-block;
				  width: 45%;
				  height: auto;
				  margin-top: 20px;
				  margin-left: 1%;
				  background: rgba(0,0,0,0.2);
				  padding: 20px 25px;
				  border-top-left-radius:40px;
				  border-bottom-right-radius:40px;
				  color: #F6ECEC;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}
				.iconos{
				  text-align: center;
				}

				.textotit{
				  text-align: center;
				  color: black;
				  margin: 20px 0;
				  color: #321616;
				  font-size: 18px;
				  font-family: 'Montserrat', sans-serif;
				}

				.lista{
				  font-size: 15px;
				  font-family: helvetica;
				  text-align: justify;
				  line-height: 25px;
				  margin-top:15px;
				}

				/*----portafolio----*/

				.s3 {
				  background:#fff;
				  margin-bottom: 20px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.imgportafolio
				{
				  width: 100%;
				  text-align: center;
				}


				figure
				{
				  width: 45%;
				  display: inline-block;
				  vertical-align: top;
				  height: auto;
				  margin:  20px 5px;
				  background: rgba(7, 132, 178, 0.9);
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  position: relative;
				  overflow:  hidden;
				}
				

				/*----contacto---*/
				.contenedorcontacto{
				  margin-top: 3%;
				  color: white;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				#contactoinfo{
				  width: 100%;
				  font-size: 16px;
				  margin-left: 0%;
				  margin-right: 0%;
				  font-family: 'Oswald', sans-serif;
				   color: white;
				}

				#contacto {
				  width: 100%;
				   color: white;
				}

				.direccion{
				  vertical-align: top;
				  width: 38%;
				  padding: 10px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.contacto{
				  width: 60%;
				}

				.contacto, .direccion{
				  display: inline-block;
				}

				.ema{
				  font-size: 15px;
				  font-family: helvetica;
				  font-weight: bold;
				  margin-left: 5%;
				}

				.emai {
				  height: 30px;
				  border-radius: 5px;
				  margin-top: 1%;
				  border: 1px solid #ccc;
				  width: 80%;
				  margin-left: 10%;
				  -webkit-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  -moz-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.075);
				  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				}


				.der, .izq{
					display: block;
				}

				.der {
				  width: 100%;
				  margin-right: 0%;
				  padding: 3% 0px 3% 3%;
				}

				.izq {
				  width: 100%;
				  padding: 3% 3% 3% 0px;
				  margin-left: 0%;
				}

				#cote
				{
				  overflow: hidden;
				}


				.direec{
				  margin-bottom: 2%;
				  font-family: 'Slabo 27px', serif;
				  font-size: 30px;
				  color:#0180ab;
				  text-align: center;
				}

				.direc{
				  margin-top: 1%;
				  font-family: 'Open Sans', sans-serif;
				}


				.tel{
				    margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}


				.email{
				  margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}


				.enviar{
				  font-size:15px;
				    font-weight:bold;
				    color:white;
				    background:#48a4ac;
				    padding: 10px 0px 10px 0px;
				    border-radius: 5px;
				    width: 40%;
				    margin-bottom: 3%;
				    border:0px;
				    float: right;
				    margin-right: 20%;

				}
				.enviar:hover {
				  background: #4b4a4d;
				}

				#enviar2{
				  margin-top: 3%;
				    width: 30%;
				}


				/*-----footer-----*/


				footer
					{
					  padding: 0px 0px;
					  background: rgba(0,0,0, 0.1);
					  color: #505050;
					  width: 100%;
					}

					.justify
					{
					  display: inline-block;
					  margin-top: 2%;
					}

					.conten-pie
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					.conten-pie2
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					/*COnfiguracion del menu responsivo*/
			
			.subMenu
			{
				width: 100%;
			}

			.subMenu .logo
			{
				float: left;
				width: 39%;
			}

			.subMenu .inner
			{
				margin: 0;
				width: 100%;
			}


			.subMenu .contenMenu
			{
				width: 85%;
				overflow: hidden;
				padding: 0;
				position: fixed;
				background: #D4D4D4;
				left:-100%;
			}



			.subMenu .subNavBtn
			{
				width: 100%;
				line-height: 50px;
				font-size: 20px;
				text-align: left;
				padding: 0px 0px 0px 60px;
				color: #000;
				border-bottom:1px solid rgba(255,255,255, .9);
			}

			.subMenu  .menubar
			{
				border: 2px solid white;
				display: block;
				float: right;
				color: #000;
				padding: 5px 10px;
				vertical-align: top;
				margin-top: 3%;
				margin-right: 5%;
				background: #000;
				cursor: pointer;
			}

			.fa-bars
			{
				  color: #fff;
			}

			

			.sTop
			{
				width: 100%;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 0;
			}



			/*********************AREA DE IMAGENES****************************************/

			.lb-album > li 
			{
				width: 90%;
				margin: 15px auto;
			}
			
			
			/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		

			/***********************Diseño Responsivo Full SCREEN**********************/
			

			.lb-overlay  article{
				padding: 0px;
				margin: 0px;
				width: 93%;
				position: absolute;
				left: 2%;
			}
			
			.lb-overlay article > p{

				font-size: 17px;

			}

			.lb-overlay article .titulos > h3
			{
				
				font-size: 20px;
		
			}
			

			.lb-overlay > figure 
			{
				display: none;
			
			}
			
			.lb-overlay > div
			{
				
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
			}
			
			 .lb-overlay a.lb-close
			{
				right: 0;
				top: 15px;
			}
			
			.lb-prev, .lb-next{
    		color:#fff;
    		margin: 0px 10px 0px 50px;
    		font-size: 24px;
			}
			/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


	}

@media screen and (max-width: 799px) and (min-width: 600px) {


	/*COnfiguracion del menu responsivo*/
			
			.subMenu
			{
				width: 100%;
			}

			.subMenu .logo
			{
				float: left;
				width: 30%;
			}

			.subMenu .inner
			{
				margin: 0;
				width: 100%;
			}


			.subMenu .contenMenu
			{
				width: 85%;
				overflow: hidden;
				padding: 0;
				position: fixed;
				background: #D4D4D4;
				left:-100%;
			}



			.subMenu .subNavBtn
			{
				width: 100%;
				line-height: 50px;
				font-size: 20px;
				text-align: left;
				padding: 0px 0px 0px 60px;
				color: #000;
				border-bottom:1px solid rgba(255,255,255, .9);
			}

			.subMenu  .menubar
			{
				border: 2px solid white;
				display: block;
				float: right;
				color: #000;
				padding: 5px 10px;
				vertical-align: top;
				margin-top: 1%;
				margin-right: 5%;
				background: #000;
				cursor: pointer;
			}

			.fa-bars
			{
				  color: #fff;

			}

			.sTop
			{
				width: 100%;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 0;
			}


			/*inicio-----*/

			.title
				{
				  color:#a01f42;
				  font-family: 'Merriweather', serif;
				  font-size: 80px;
				  width: 100%;
				}

				.subtitle
				{
				  font-size: 20px;
				  color: #000;
				  text-align: left;
				  margin-bottom: 150px;
				  width: 100%;
				}

				.conten-inicio{
				  margin: 150px 0 0 75px;
				  height: auto;
				}


				
				/*------------------------------------*/

				.secciones
				{ 
				    top: 100%;
				    width: 100%;
				     overflow-x: hidden;
				 }

	.s1 {
		  background:#FFF;
		  color:#000;
		  width: 100%;
		}


	.conteimagen{
		  margin-top: 2%;
		  width: 100%;
		}


		.texto{
		  margin-top: 2%;
		  margin-left: 8%;
		  height: auto;
		  width: 45%;
		  text-align: right;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}


		.circulo{
		  vertical-align: top;
		  margin-left: 2%;
		  margin-top: 0%;
		}
		.circulo2{
		  vertical-align: top;
		  margin-left: 9%;
		  margin-top: 0%;
		}
		.texto2{
		  margin-top: 4%;
		  margin-left: 2%;
		  width: 40%;
		  height: auto;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.texto3{
		  margin-top: 1%;
		  height: auto;
		  margin-left: 2%;
		  width: 40%;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.val
		{
		  text-align: center;
		}


		.mision{
		  display: inline-block;
		  margin-top: 3%;
		  margin-left: 2%;
		  margin-bottom: 2%;
		  width: 40%;
		  height: auto;
		  padding: 1% 3%;
		  vertical-align:  top;
		  border-radius: 15px;
		  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		  text-align: justify;
		}

		.mvov{
		  text-align: center;
		  margin-left: 35%;
		  margin-bottom: 4%;
		  font-size: 20px;
		  font-family: 'Montserrat', sans-serif;
		}

		/*----servicos----*/
		.s2 {
				  background: #F06B51;
				  color:#000;
				  height: auto;
				  width: 100%;
				}

				.servicio
				{
				  width: 100%;
				  padding: 0px;
				  position: relative;
				  text-align: center;
				}
					
				.mision2{

				  display: inline-block;
				  width: 45%;
				  height: auto;
				  margin-top: 20px;
				  margin-left: 1%;
				  background: rgba(0,0,0,0.2);
				  padding: 20px 25px;
				  border-top-left-radius:40px;
				  border-bottom-right-radius:40px;
				  color: #F6ECEC;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.iconos{
				  text-align: center;
				}

				.textotit{
				  text-align: center;
				  color: black;
				  margin: 20px 0;
				  color: #321616;
				  font-size: 19px;
				  font-family: 'Montserrat', sans-serif;
				}

				.lista{
				  font-size: 16px;
				  font-family: helvetica;
				  text-align: justify;
				  line-height: 25px;
				  margin-top:15px;
				}

				/*----portafolio----*/

				.s3 {
				  background:#fff;
				  margin-bottom: 20px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.imgportafolio
				{
				  width: 100%;
				  text-align: center;
				}

				figure
				{
				  width: 45%;
				  display: inline-block;
				  vertical-align: top;
				  height: auto;
				  margin:  20px 5px;
				  background: rgba(7, 132, 178, 0.9);
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  position: relative;
				  overflow:  hidden;
				}

				/*----contacto---*/
				.contenedorcontacto{
				  margin-top: 3%;
				  color: white;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				#contactoinfo{
				   width: 88%;
				  font-size: 16px;
				  margin-left: 8%;
				  margin-right: 5%;
				  font-family: 'Oswald', sans-serif;
				   color: white;

				}

				#contacto {
				  width: 100%;
				   color: white;
				}

				.direccion{
				  vertical-align: top;
				  width: 38%;
				  padding: 10px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.contacto{
				  width: 60%;
				}

				.contacto, .direccion{
				  display: inline-block;
				}

				.ema{
				  font-size: 15px;
				  font-family: helvetica;
				  font-weight: bold;
				  margin-left: 5%;
				}

				.emai {

				  height: 30px;
				  border-radius: 5px;
				  margin-top: 1%;
				  border: 1px solid #ccc;
				  width: 80%;
				  margin-left: 10%;
				  -webkit-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  -moz-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.075);
				  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				}
				.der, .izq{
					display: block;
				}

				.der {
				  width: 100%;
				  margin-right: 0%;
				  padding: 3% 0px 3% 3%;
				}

				.izq {
				  width: 100%;
				  padding: 3% 3% 3% 0px;
				  margin-left: 0%;
				}

				#cote
				{
				  overflow: hidden;
				}


				.direec{
				  margin-bottom: 2%;
				  font-family: 'Slabo 27px', serif;
				  font-size: 30px;
				  color:#0180ab;
				  text-align: center;
				}


				.direc{
				  margin-top: 1%;
				  font-family: 'Open Sans', sans-serif;
				}


				.tel{
				    margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}


				.email{
				  margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}

				.enviar{
				  font-size:15px;
				    font-weight:bold;
				    color:white;
				    background:#48a4ac;
				    padding: 10px 0px 10px 0px;
				    border-radius: 5px;
				    width: 40%;
				    margin-bottom: 3%;
				    border:0px;
				    float: right;
				    margin-right: 20%;

				}
				.enviar:hover {
				  background: #4b4a4d;
				}

				#enviar2{
				  margin-top: 3%;
				    width: 30%;
				}

				/*-----footer-----*/

				footer
					{
					  padding: 0px 0px;
					  background: rgba(0,0,0, 0.1);
					  color: #505050;
					  width: 100%;
					}


					.justify
					{
					   display: inline-block;
					  margin-top: 2%;
					}

					.conten-pie
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					.conten-pie2
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

		/*********************AREA DE IMAGENES****************************************/

			.lb-album > li 
			{
				width: 46%;
				margin: 17px 10px;
			}
			
			
			/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
			

			/***********************Diseño Responsivo Full SCREEN**********************/
			

			.lb-overlay  article{
				padding: 0px;
				margin: 0px;
				width: 93%;
				position: absolute;
				left: 2%;
				/*bottom: 0;*/
				top:40%;

			}
			
			.lb-overlay article > p{

				font-size: 17px;

			}

			.lb-overlay article .titulos > h3
			{
				
				font-size: 20px;
		
			}
			

			.lb-overlay > figure 
			{
				display: block;
				width: 90%;
				left: 0px;
				left: 4%;
				margin: 0px;
				height: 215px;
				position: absolute;			
			}

			.lb-overlay figure > img
			{
				width: 100%;
			}
			
			.lb-overlay > div
			{
				
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
			}
			
			 .lb-overlay a.lb-close
			{
				right: 0;
				top: 15px;
			}
				
			.lb-prev, .lb-next{
    		color:#fff;
    		margin: 0px 10px 0px 50px;
    		font-size: 24px;
			}

			/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


}


@media screen and (max-width: 1023px) and (min-width: 800px) {


	          /*COnfiguracion del menu responsivo*/
			
			.subMenu
			{
				width: 100%;
			}

			.subMenu .logo
			{
				float: left;
				width: 20%;
			}

			.subMenu .inner
			{
				margin: 0;
				width: 100%;
			}


			.subMenu .contenMenu
			{
				width: 85%;
				overflow: hidden;
				padding: 0;
				position: fixed;
				background: #D4D4D4;
				left:-100%;
			}



			.subMenu .subNavBtn
			{
				width: 100%;
				line-height: 50px;
				font-size: 20px;
				text-align: left;
				padding: 0px 0px 0px 60px;
				color: #000;
				border-bottom:1px solid rgba(255,255,255, .9);
			}

			.subMenu  .menubar
			{
				border: 2px solid white;
				display: block;
				float: right;
				color: #000;
				padding: 5px 10px;
				vertical-align: top;
				margin-top: 1%;
				margin-right: 5%;
				background: #000;
				cursor: pointer;
			}

			.fa-bars
			{
				  color: #fff;

			}

			
			.sTop
			{
				width: 100%;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 0;
				margin-top:162px; ;
			}


			/*inicio-----*/

			.title
				{
				  color:#a01f42;
				  font-family: 'Merriweather', serif;
				  font-size: 80px;
				  width: 100%;
				}

				.subtitle
				{
				  font-size: 30px;
				  color: #000;
				  text-align: left;
				  margin-bottom: 150px;
				  width: 100%;
				}
				


				
				/*------------------------------------*/

				.secciones
			{ 
			    top: 100%;
			    width: 100%;
			    overflow-x: hidden;
			    overflow-y: hidden;
			}


	.s1 {
		  background:#FFF;
		  color:#000;
		  width: 100%;
		}


	.conteimagen{
		  margin-top: 2%;
		  width: 100%;
		}

		.texto{
		  margin-top: 2%;
		  margin-left: 10%;
		  height: auto;
		  width: 45%;
		  text-align: right;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}


		.circulo{
		  vertical-align: top;
		  margin-left: 2%;
		  margin-top: 0%;
		}


		.circulo2{
		  vertical-align: top;
		  margin-left: 15%;
		  margin-top: 0%;
		}


		.texto2{
		  margin-top: 4%;
		  margin-left: 2%;
		  width: 47%;
		  height: auto;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.texto3{
		  margin-top: 1%;
		  height: auto;
		  margin-left: 2%;
		  width: 47%;
		  text-align: left;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		}

		.val
		{
		  text-align: center;
		}

		.mision{
		  display: inline-block;
		  margin-top: 3%;
		  margin-left: 2%;
		  margin-bottom: 2%;
		  width: 24%;
		  height: auto;
		  padding: 1% 3%;
		  vertical-align:  top;
		  border-radius: 15px;
		  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		  text-align: justify;
		}

		.mvov{
		  text-align: center;
		  margin-left: 35%;
		  margin-bottom: 4%;
		  font-size: 20px;
		  font-family: 'Montserrat', sans-serif;
		}

		/*----servicos----*/
		.s2 {
				  background: #F06B51;
				  color:#000;
				  height: auto;
				  width: 100%;
				}

				.servicio
				{
				  width: 100%;
				  padding: 0px;
				  position: relative;
				  text-align: center;
				}
					
				.mision2{

				  display: inline-block;
				  width: 31%;
				  height: auto;
				  margin-top: 20px;
				  margin-left: 0%;
				  background: rgba(0,0,0,0.2);
				  padding: 20px 25px;
				  border-top-left-radius:40px;
				  border-bottom-right-radius:40px;
				  color: #F6ECEC;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}


				.iconos{
				  text-align: center;
				}

				.textotit{
				  text-align: center;
				  color: black;
				  margin: 20px 0;
				  color: #321616;
				  font-size: 19px;
				  font-family: 'Montserrat', sans-serif;
				}

				.lista{
				  font-size: 16px;
				  font-family: helvetica;
				  text-align: justify;
				  line-height: 25px;
				  margin-top:15px;
				}

				/*----portafolio----*/

				.s3 {
				  background:#fff;
				  margin-bottom: 20px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}


				.imgportafolio
				{
				  width: 100%;
				  text-align: center;
				}


				figure
				{
				  width: 45%;
				  display: inline-block;
				  vertical-align: top;
				  height: auto;
				  margin:  20px 5px;
				  background: rgba(7, 132, 178, 0.9);
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  position: relative;
				  overflow:  hidden;
				}

				/*----contacto---*/
				.contenedorcontacto{
				  margin-top: 3%;
				  color: white;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				#contactoinfo{
				   width: 88%;
				  font-size: 16px;
				  margin-left: 8%;
				  margin-right: 5%;
				  font-family: 'Oswald', sans-serif;
				   color: white;

				}

				#contacto {
				  width: 100%;
				   color: white;
				}

				.direccion{
				  vertical-align: top;
				  width: 38%;
				  padding: 10px;
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.contacto{
				  width: 60%;
				}

				.contacto, .direccion{
				  display: inline-block;
				}

				.ema{
				  font-size: 15px;
				  font-family: helvetica;
				  font-weight: bold;
				  margin-left: 5%;
				}

				.emai {

				  height: 30px;
				  border-radius: 5px;
				  margin-top: 1%;
				  border: 1px solid #ccc;
				  width: 80%;
				  margin-left: 10%;
				  -webkit-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  -moz-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
				  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.075);
				  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				}


				.der, .izq{
					display: block;
				}

				.der {
				  width: 100%;
				  margin-right: 0%;
				  padding: 3% 0px 3% 3%;
				}

				.izq {
				  width: 100%;
				  padding: 3% 3% 3% 0px;
				  margin-left: 0%;
				}

				#cote
				{
				  overflow: hidden;
				}


				.direec{
				  margin-bottom: 2%;
				  font-family: 'Slabo 27px', serif;
				  font-size: 30px;
				  color:#0180ab;
				  text-align: center;
				}

				.direc{
				  margin-top: 1%;
				  font-family: 'Open Sans', sans-serif;
				}


				.tel{
				    margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}


				.email{
				  margin-top: 4%;
				  font-family: 'Open Sans', sans-serif;
				}

				.enviar{
				  font-size:15px;
				    font-weight:bold;
				    color:white;
				    background:#48a4ac;
				    padding: 10px 0px 10px 0px;
				    border-radius: 5px;
				    width: 40%;
				    margin-bottom: 3%;
				    border:0px;
				    float: right;
				    margin-right: 20%;

				}


				.enviar:hover {
				  background: #4b4a4d;
				}

				#enviar2{
				  margin-top: 3%;
				    width: 30%;
				}


				/*-----footer-----*/
				footer
					{
					  padding: 0px 0px;
					  background: rgba(0,0,0, 0.1);
					  color: #505050;
					  width: 100%;
					}


					.justify
					{
					  display: inline-block;
					  margin-top: 2%;
					}

					.conten-pie
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}

					.conten-pie2
					{
					  font-family: 'Open Sans', sans-serif;
					  font-weight: bold;
					  width: 100%;
					}
	
	/*********************AREA DE IMAGENES****************************************/

			.lb-album > li 
			{
				width: 32%;
				margin: 15px 2px;
			}
			
			
			/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

		/***********************Diseño Responsivo Full SCREEN**********************/
			

			.lb-overlay  article{
				padding: 0px;
				margin: 0px;
				width: 93%;
				position: absolute;
				left: 2%;
				top:65%;

			}
			
			.lb-overlay article > p{

				font-size: 17px;

			}

			.lb-overlay article .titulos > h3
			{
				
				font-size: 20px;
		
			}
			

			.lb-overlay > figure 
			{
				display: block;
				width: 90%;
				left: 0px;
				left: 4%;
				margin: 0px;
				height: 220px;
				position: absolute;			
			}

			.lb-overlay figure > img
			{
				width: 100%;
			}
			
			.lb-overlay > div
			{
				
				position: absolute;
				top: 0;
				left: 20px;
				width: 30%;
			}

			.lb-prev, .lb-next{
    		color:#fff;
    		margin: 0px 10px 0px 50px;
    		font-size: 24px;
			}
			
			 .lb-overlay a.lb-close
			{
				right: 0;
				top: 15px;
			}


			/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


}

@media screen and (max-width: 1366px) and (min-width: 1024px) {



	/*---------YO CREO QUE NO VA NADA YA QUE TODO ESTA PROGRAMADO PARA ESTA MEDIDA EN EL CSS NORMAL----------*/


			.sTop
			{
				width: 100%;
				height: 581px;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 10px;
				margin-top: 85px;
			}

			.title{
				border-top: 0px;
			}
			.subtitle
			{
			  font-size: 20px;
			  color: #000;
			  text-align: left;
			  margin-bottom: 0px;
			}

			.s3{
				margin-bottom: 20px;
			}

	
			.lb-album > li 
			{
				width: 23%;
				margin: 15px 10px;
			}

			/***********************Diseño Responsivo Full SCREEN**********************/
			

			.lb-overlay article, .lb-overlay figure
			{
				display: inline-block;
			}

			.lb-overlay article{
				width: 45%;
				padding-top: 80px;

			}
			
			.lb-overlay > figure 
			{
				width: 51%;
				left: 0px;
				left: 4%;
				margin: 0px;
				height: 450px;			
			}

			.lb-overlay figure > img
			{
				width: 100%;
			}
			

			

			/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

}

@media screen and (min-width: 1367px) {

	.sTop
			{
				width: 100%;
				height: 854px;
			}

			.sTop .conten-inicio
			{
				width: 80%;
				margin-left: 10px;
				margin-top: 100px;
			}

			.title{
				margin-top: 0px;
				font-size: 110px;
			}


			.subtitle
			{
			  font-size: 40px;
			  color: #000;
			  text-align: left;
			  margin-bottom: 0px;
			}


	/*quienes somos*/
		.mision{
		  display: inline-block;
		  margin-top: 3%;
		  margin-left: 5%;
		  margin-bottom: 2%;
		  width: 24%;
		  height: auto;
		  padding: 1% 3%;
		  vertical-align:  top;
		  border-radius: 15px;
		  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
		  font-family: 'Roboto Condensed', sans-serif;
		  font-size: 16px;
		  line-height: 22px;
		  color: #505050;
		  text-align: justify;
		}
	
	/*servicios*/

	.mision2{

				  display: inline-block;
				  width: 22%;
				  height: auto;
				  margin-top: 20px;
				  margin-left: 1%;
				  background: rgba(0,0,0,0.2);
				  padding: 20px 25px;
				  border-top-left-radius:40px;
				  border-bottom-right-radius:40px;
				  color: #F6ECEC;
				  -webkit-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -moz-box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.75);
				  -webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
				}

				.s3{
				margin-bottom: 20px;
			}

				footer{
					height: 30px;
				}


		.lb-overlay article, .lb-overlay figure
			{
				display: inline-block;
			}

			.lb-overlay article{
				width: 45%;

			}
			
			.lb-overlay > figure 
			{
				width: 50%;
				left: 0px;
				left: 4%;
				margin: 0px;
				height: 580px;		
			}

			.lb-overlay figure > img
			{
				width: 100%;
			}

			.lb-overlay article {
				padding-top: 140px;
			}
		
}









